<h2>{{ vm.text.title }}</h2>
<p>{{ vm.text.description }}</p>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Weight</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="i in vm.items track by $index">
            <td>{{ i.title }}</td>
            <td>
                <weight-display weight="i.weight">*</weight-display>
            </td>
            <td>
                <a href ng-click="vm.decrease(i)">-</a>
            </td>
            <td>
                <a href ng-click="vm.increase(i)">+</a>
            </td>
        </tr>
    </tbody>
</table>
